*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box{
    background: url("../images/BgRed.png")no-repeat center;
    background-size:100% 100%;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.contentLogo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contentLogo img{
    width: 75%;
}
.AnswerContent{
    width: 100%;
}
.textAnswer{
    width: 95%;
    min-height:6rem;
    background: url("../images/datiBg.png")no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
}
.logoDna{
    width: 100%;
    text-align: center;
    padding-bottom: .2rem;
}
.logoDna img{
    width: 45%;
}
.textAnswerTitle{
    width: 80%;
    margin: 0rem auto 0 auto;
}
.textAnswerTitle p{
    font-size: .2rem
}
.Topic{
    color: #ef100a;
    font-size: .23rem!important;
    margin-top: .12rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.numberTopic{
    width: 1.3rem;
    height: .4rem;
    color: white;
    background: #ef100a;
    border-radius: 8px;
    line-height: .4rem;
    text-align: center;
}
.textAnswerUl{
    width: 100%;
    text-align: center;
    position: relative;
    top: .2rem;
    padding-bottom: .4rem;
}
.textAnswerUl li{
    width: 80%;
    text-align: center;
    font-size: .2rem;
    border: 1.5px #ffd29e solid;
    background: white;
    margin: 0.25rem auto;
    border-radius: 8px;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

@media screen and (min-height:750px){
    .box{
        background: url("../images/BgRed.png")no-repeat center;
        background-size:100% 100%;
        width: 100%;
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        position: fixed;
        height: 100%;
        overflow: hidden;
    }
}