*{
    padding: 0;
    margin: 0;
}
body{
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
.box{
    background: url("../images/BgRed.png")no-repeat center;
    background-size:100% 100%;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.rulepage,.reportCard{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 100;
    text-align: center;
    display: none;
}
.closebtnCard img{
    position: absolute;
    width:7%;
    right: .2rem;
    top: .4rem;
}
.reportCardImg{
    width: 85%;
    margin-top: 1rem;
}
.rulepageImg{
    width: 90%;
    margin-top: 2.2rem;
}
.closebtn img{
     position: absolute;
    width: 8%;
    right: .5rem;
    top: 1.5rem;

}
.dnaLogo{
    position: absolute;
    width: 100%;
    margin: -.1rem auto;
    text-align: center;
}
.dnaLogo img{
    width: 48%;
}
.logoCenter{
    width: 100%;
    margin: .1rem auto 0 auto;
    text-align: center;
}
.logoCenter img{
    width: 83%;
}
.logoCenter p{
    color: #ffce88;
    font-size: .25rem;
    margin-top: -.6rem;
    letter-spacing: 2.5px;
    font-weight: bold;
}
.AnswerRule{
    width: 100%;
    text-align: center;
    margin: 0.2rem auto 0 auto;
}
.AnswerRule img{
    width: 90%;
}
.BeiginBtn{
    width: 100%;
    text-align: center;
}
.BeiginBtn img{
    width:40%;
    position: relative;
    top: -.6rem;
    z-index: 99;
}
.rightbtnBox{
    position:absolute;
    right: 0;
    top:4rem;
}
.datibtn,.chengji{
    width: 1.3rem;
    height: .4rem;
    z-index: 99;
    position: relative;
}
.datibtn img,.chengji img{
    width: 100%;
    position: absolute;
    top: 0;
}
.chengji{
    margin-top: .2rem;
}
@media screen and (min-height:750px){
    .box{
        background: url("../images/BgRed.png")no-repeat center;
        background-size:100% 100%;
        width: 100%;
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

}
