*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box{
    width:100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: url("../images/BgRed.png")no-repeat center;
    background-size:100% 100%;
    overflow: hidden;
}


ul li{
    list-style: none;
}
.dnaLogo,.DdDh{
    width: 100%;
    text-align: center;
    position: relative;
    top: -.1rem;
}
.dnaLogo img{
    width: 45%;
}
.DdDh img{
    width: 70%;
    position: relative;
    top: -.1rem;
}
.inputBox{
    width: 100%;
}
.WxH,.Name,.RId{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 1rem;
    position: relative;
}
.WxH input,.Name input,.RId input{
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: .7rem;
    border-radius: 4px;
    background: white;
    outline: none;
    border: none;
    text-indent: 1em;
    font-size: .25rem;
}
.sbmitBtn{
    width: 80%;
    margin: -.2rem auto;
    text-align: center;
    padding-bottom: 1.5rem;
}
.sbmitBtn img{
    width: 90%;
}
.sbmitBtn p{
    color: #ffc77d;
    font-size: .2rem;
    letter-spacing: 1px;
    width: 90%;
    margin: 0.1rem auto;
    text-align: left;
}

@media screen and (min-height:750px){
    .box{
        background: url("../images/BgRed.png")no-repeat center;
        background-size:100% 100%;
        width: 100%;
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        position: fixed;
        height: 100%;
        overflow: hidden;
    }
    .DdDh img{
        width: 80%;
        position: relative;
        top: .1rem;
    }
}
